/vendor
/node_modules
/resources/assets/*
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.env
/storage/app
/public/img/cover
storage/debugbar/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
storage/logs/*
_ide_helper.php
.meta.phpstorm.php
.phpstorm.meta.php
files/*
public/packages/*
public/bower_components
public/uploads/thumbnail/*
public/uploads/medium/*
public/uploads/large/*
.idea
