
.header-shadow {
    background-color : #232323;
}
.dropdown-content .input-group {
    margin-bottom: 5px;
}
.dropdown-content .btn {
    margin: 3px;
}

.navbar .nav > li > .dropdown-menu {
    width: 289px;
}